body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}
nav {
    background-color: #eeeeee;
    text-align: center;
    padding: 5px 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: black;
}

nav a:hover{
    font-weight: 700;
}

.flex-container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding-left: 4%;
}

.half-width img{
    width: 100%;
}

.orange-color {
    color: #ffa500;
}

.link-button {
    display: inline-block;
    margin-top: 25px;
    background-image: linear-gradient(to right, orange, red);
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 25px;
}

.about-me {
    background: url(../images/shapes/bg.png) no-repeat;
    background-size: cover;
}

.about-me img {
    width: 70%;
}

.one-third {
    width: 33%;
    box-shadow: 0 0 10px grey;
    border-radius: 30px;
    padding: 20px;
    margin: 36px;
}

.one-third img{
    width: 100%;
}

.my-recipes h2 {
    text-align: center;
}

.my-recipes .para-top {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

.social-media-counter {
    justify-content: space-around;
    box-shadow: 0 0 12px gray;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto 80px;
}

.social-media-counter h2 {
    margin-bottom: 0;
    text-align: center;
}

.social-media-counter p {
    margin-top: 0;
    margin-bottom: 34px;
}

footer {
    background-color: #000000;
    padding: 50px 0;
    color: #5c5c5c;
    text-align: center;
}